<div class="container-fluid" id="maincont">
  <div class="col-sm" id="pic"></div>
  <div id="cont">
    <div class="container-fluid">
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p id="title">Контакты</p><br>
          <p>
            Вы всегда можете связаться с нами,<br>
            используя координаты, указанные в этом разделе.
          </p>
          <br>
        </div>
        <div class="col-md-6">
          <ul>
            <li>ул. Вейнбаума, 26<br>Красноярск, Россия 660049</li>
            <li>+7 (391) 212-34-02</li>
            <li>+7 (391) 227-95-78</li>
            <li><a href="mailto: office@kmiac.ru">office@kmiac.ru</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

