.navbar {
  background-color: #ecf0f1;
}
.navbar-text {
  font-size: 13px;
}
.nav-item:hover {
  background-color: #dadfe1;
}
.navbar .navbar-brand {
  color: #282d2f;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: #282d2f;
}
.navbar .navbar-text {
  color: #282d2f;
}
.navbar .navbar-text a {
  color: #282d2f;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #282d2f;
}
.navbar .navbar-nav .nav-link {
  color: #282d2f;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #282d2f;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #ecf0f1;
  border-color: #dadfe1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #282d2f;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #282d2f;
  background-color: #dadfe1;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #dadfe1;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #282d2f;
  background-color: #dadfe1;
}
.navbar .navbar-toggle {
  border-color: #dadfe1;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #dadfe1;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #282d2f;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #282d2f;
}
.navbar .navbar-link {
  color: #282d2f;
}
.navbar .navbar-link:hover {
  color: #282d2f;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #282d2f;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #282d2f;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #282d2f;
    background-color: #dadfe1;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #282d2f;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #282d2f;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #282d2f;
    background-color: #dadfe1;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #282d2f;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #282d2f;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #282d2f;
    background-color: #dadfe1;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #282d2f;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #282d2f;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #282d2f;
    background-color: #dadfe1;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #282d2f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #282d2f;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color: #282d2f;
  background-color: #dadfe1;
}

#logo {
  height: 20%;
  width: 20%;
  margin-bottom: 7px;
}
#brand {
  font-size: 11px;
}
#nav-items {
  margin: auto;
}
.item {
  padding-top: 22px;
  padding-bottom: 22px;
}
#brands {
  margin-top: 7px;
}
