<nav class="navbar navbar-expand-lg py-0">
  <a class="navbar-brand order-md-last py-0 ml-auto">
    <span class="navbar-text py-0" id="brand">
      ЕДИНАЯ СИСТЕМА ВЕДЕНИЯ<br>СПРАВОЧНИКОВ
    </span>
    <img src="../../assets/img/logo.png" id="logo">
  </a>
  <ul class="navbar-nav mx-auto" routerLinkActive="active">
    <li class="nav-item py-0"><a class="nav-link" routerLink="">Главная</a></li>
    <li class="nav-item py-0"><a class="nav-link" routerLink="about">Описание системы</a></li>
    <li class="nav-item py-0"><a class="nav-link" routerLink="contacts">Контакты</a></li>
  </ul>
</nav>
