html, body {
  height: 100%;
  margin: 0;
  display: block;
  font-family: 'verdana', tahoma, arial, sans-serif
}
#root {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
body {
  background-color: #b3cde0;
}
#footer {
  flex: 0 0 auto;
}
