<div class="container-fluid" id="maincont">
  <div class="col-sm" id="pic"></div>
  <div id="cont">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <hr>
          <p id="title">Контакты</p><br>
          <p>
            ЕСВС обеспечивает:<br>
            - приведение всех используемых справочников к единому формату;<br>
            - формирование справочников сложной структуры;<br>
            - функция редактирования справочников;<br>
            - печать данных из справочников;<br>
            - экспорт справочников и их составляющих во внешние форматы.<br>
            <br>
            Справочник ЕСВС включает:<br>
            - справочные данные;<br>
            - иерархическую структуру для справочных данных;<br>
            - дополнительные сведения о записях справочника.<br>
          </p>
          <br>
        </div>
        <div class="col-md-4">
          <br>
          <img src="../../assets/img/promo.jpg" id="promo">
        </div>
      </div>
    </div>
  </div>
</div>

