<div class="container-flui" id="bottom-bar">
  <div class="row">
      <div class="col-md-4">
        <hr>
        <p>
          ул. Вейнбаума, 26<br>
          Красноярск, Россия 660049
        </p>
      </div>
      <div class="col-md-4">
        <hr>
        <p>
          +7 (391) 212-34-02 (тел.)<br>
          +7 (391) 227-95-78 (факс)<br>
          <a href="mailto: office@kmiac.ru">office@kmiac.ru</a>
        </p>
      </div>
      <div class="col-md-4">
        <hr>
        <p id="links">
          <a routerLink="">Главная</a><br>
          <a routerLink="about">Описание системы</a><br>
          <a routerLink="contacts">Контакты</a>
        </p>
      </div>
  </div>
  <br>
  <p>© 2018 Единая система ведения справочников (ЕСВС)</p>
</div>

