<nav class="navbar py-0 navbar-expand-lg flex-row-reverse">
  <ul class="navbar-nav flex-row">
    <li class="nav-item py-0"><button class="btn btn-link" id="sign-in-btn" type="button" data-toggle="modal" data-target="#signinmodal" >Вход</button></li>
    <li class="nav-item py-0"><a class="nav-link">Регистрация</a></li>
  </ul>
</nav>

<div class="modal fade" id="signinmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Вход</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (submit)="onSubmit($event)">
          <div class="form-group">
            <input type="text" placeholder="Логин" class="form-control"><br>
            <input type="password" placeholder="Пароль" class="form-control">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" (click)="signin()">Войти</button>
      </div>
    </div>
  </div>
</div>
