<div class="container-fluid" id="maincont">
  <div class="col-sm" id="pic"></div>
  <div id="cont">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <hr>
          <p id="title">О системе</p><br>
          <p>
            ЕСВС — это комплекс организационных мероприятий и технических средств для централизованного ведения и синхронизации электронных справочников для системы здравоохранения и ОМС Красноярского края.
          </p>
          <br>
          <a class="btn btn-primary" role="button" routerLink="about" id="aboutbtn">Подробнее</a>
        </div>
        <div class="col-md-4" id="calendar">
          <p>Тут будет календарь</p>
        </div>
      </div>
  </div>
  </div>
</div>
